* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.view {
	color: #005f87;
	display: flex;
	font-family: sans-serif;
	flex-wrap: wrap;
	height: 100%;
	width: 100%;
}

.panel {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	position: absolute;

	&>*:not(:last-child) {
		margin-bottom: .5em;
	}

	&.left {
		left: 1em;
		top: 1em;
	}
}

.viewport {
	height: 100%;
	width: 100%;
}

@border: 2px solid grey;

.icon {
	color: grey;
	height: 24px;
	width: 24px;
}

a {
	border: @border;
	border-radius: .25em;
	padding: .5em;
	text-decoration: none;
}

button {
	align-items: center;
	background: white;
	border: @border;
	border-radius: .5em;
	cursor: pointer;
	display: flex;
	margin: 0;
	padding: .5em;
	justify-content: center;

	&:focus {
		outline: none;
	}
	&:active {
		border: 2px solid red;
	}
}

